<div id="content2">
  <div class="main-img">
    <img ng-src="{{sm.data.marker.img}}" alt="">
  </div>
  <div class="info">
    <h3>{{sm.data.marker.title}}</h3>
    <p>{{sm.data.marker.description}}</p>
  </div>
  <div class="interesting">
    <div class="row">
      <div class="col-md-4 content2-item">
        <img src="https://dummyimage.com/400x300/a391a3/fff" alt=""><br>
        <a href="#">Храм Ольги та Єлизавети</a>
      </div>
      <div class="col-md-4 content2-item">
        <img src="https://dummyimage.com/400x300/a391a3/fff" alt=""><br>
        <a href="#">Храм Ольги та Єлизавети</a>
      </div>
      <div class="col-md-4 content2-item">
        <img src="https://dummyimage.com/400x300/a391a3/fff" alt=""><br>
        <a href="#">Храм Ольги та Єлизавети</a>
      </div>
    </div>
  </div>
  <div class="reviews">
    <h2>Коментарі</h2>
    <div class="vidguk">
      <div class="vidguk1" ng-repeat="item in sm.data.marker.comments">
        <div class="user">{{item.user}}</div>
        <div class="like">
          <div class="part">
            <div class="stars rate" data-percent="50">
              <a href="?1" title="awful">★</a>
              <a href="?2" title="ok">★</a>
              <a href="?3" title="good">★</a>
              <a href="?4" title="great">★</a>
              <a href="?5" title="awesome">★</a>
            </div>
          </div>
        </div>
        <p>{{item.text}}</p>
      </div>
    </div>
  </div>
</div>
<section id="comments" ng-if="!sm.user_name">
  <div class="name-user">{{sm.user_name}}Alex</div>
  <div class="part">
    <div class="stars rate" data-percent="50">
      <a href="?1" title="awful">★</a>
      <a href="?2" title="ok">★</a>
      <a href="?3" title="good">★</a>
      <a href="?4" title="great">★</a>
      <a href="?5" title="awesome">★</a>
    </div>
  </div>
  <form id="comment-form">
    <textarea ng-model="comment" minlength="4" class="form-control" name="comment" placeholder="коментар" rows="6">
    </textarea>
    <button type="submit" ng-click="sm.sentComment(comment)" class="btn">Відправити</button>
  </form>

</section>
