<div id="content2">
  <div class="main-img">
    <img src="https://dummyimage.com/400x300/a391a3/fff" alt="">
  </div>
  <div class="info">
    <h3>Lviv, Trakt Glunanskyi</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non earum adipisci repudiandae nostrum dolorem
      recusandae odit repellendus deleniti est voluptate voluptates consequatur sit unde dignissimos, fugit distinctio
      minima voluptatum nesciunt.</p>
  </div>
  <div class="interesting">
    <div class="row">
      <div class="col-md-4 content2-item">
        <img src="https://dummyimage.com/400x300/a391a3/fff" alt=""><br>
        <a href="#">Храм Ольги та Єлизавети</a>
      </div>
      <div class="col-md-4 content2-item">
        <img src="https://dummyimage.com/400x300/a391a3/fff" alt=""><br>
        <a href="#">Храм Ольги та Єлизавети</a>
      </div>
      <div class="col-md-4 content2-item">
        <img src="https://dummyimage.com/400x300/a391a3/fff" alt=""><br>
        <a href="#">Храм Ольги та Єлизавети</a>
      </div>
    </div>
  </div>
  <div class="reviews">
    <h2>SOME TEXT</h2>
    <div class="vidguk">
      <div class="vidguk1">
        <div class="user">Adolf</div>
        <div class="like">
          <div class="part">
            <div class="stars rate" data-percent="50">
              <a href="?1" title="awful">★</a>
              <a href="?2" title="ok">★</a>
              <a href="?3" title="good">★</a>
              <a href="?4" title="great">★</a>
              <a href="?5" title="awesome">★</a>
            </div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas iure temporibus blanditiis, cumque tempora
          saepe reprehenderit natus officiis veritatis architecto vitae doloremque vel, nam quisquam quos commodi
          dolorum sunt mollitia?</p>
      </div>
      <div class="vidguk2">
        <div class="user">Roman</div>
        <div class="like">
          <div class="part">
            <div class="stars rate" data-percent="50">
              <a href="?1" title="awful">★</a>
              <a href="?2" title="ok">★</a>
              <a href="?3" title="good">★</a>
              <a href="?4" title="great">★</a>
              <a href="?5" title="awesome">★</a>
            </div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas iure temporibus blanditiis, cumque tempora
          saepe reprehenderit natus officiis veritatis architecto vitae doloremque vel, nam quisquam quos commodi
          dolorum sunt mollitia?</p>
      </div>
      <div class="vidguk2">
        <div class="user">User</div>
        <div class="like">
          <div class="part">
            <div class="stars rate" data-percent="50">
              <a href="?1" title="awful">★</a>
              <a href="?2" title="ok">★</a>
              <a href="?3" title="good">★</a>
              <a href="?4" title="great">★</a>
              <a href="?5" title="awesome">★</a>
            </div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas iure temporibus blanditiis, cumque tempora
          saepe reprehenderit natus officiis veritatis architecto vitae doloremque vel, nam quisquam quos commodi
          dolorum sunt mollitia?</p>
      </div>
    </div>
  </div>
</div>
<section id="comments">
  <div class="name-user">Adolf</div>
  <div class="part">
    <div class="stars rate" data-percent="50">
      <a href="?1" title="awful">★</a>
      <a href="?2" title="ok">★</a>
      <a href="?3" title="good">★</a>
      <a href="?4" title="great">★</a>
      <a href="?5" title="awesome">★</a>
    </div>
  </div>
  <form id="comment-form">
										<textarea minlength="4" class="form-control" name="comment" placeholder="коментар"
                              rows="6"></textarea>
    <button type="submit" class="btn">Відправити</button>
  </form>

</section>
</div>
<!-- left-info -->
</div>
